.mint-container {
    display: flex;
    flex-direction: column;
    width:auto;
    height: 90vh;
}
.mintnft{

    margin: auto;
    justify-items: center;
    align-items: center;
}

.mintnft-background {
    background-image: url("../assets//image1.png");
    width: 400px;
    height: 400px;
    object-fit: contain;
    background-repeat: no-repeat;

}   


.mintnft-button {
    margin: 20px auto;
    width: 400px;
}